* {
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2f3e46;
}

body {
  display: flex;
  justify-content: center;
}